name = "discord-notify-bot"
main = "src/worker.ts"
compatibility_date = "2025-01-04"

[triggers]
crons = ["*/10 * * * *"] # Run every minute

[vars]
# DISCORD_WEBHOOK_URL = ""
# UPSTASH_REDIS_REST_URL = ""
# UPSTASH_REDIS_REST_TOKEN = ""

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true